###     File I/O, Read CSV File, Write CSV File, Read Excel File, Write Excel File, Exceptions, Exceptions.

In [13]:
print("Hello WOrld")

Hello WOrld

Today's topics:File I/O, Read CSV File, Write CSV File, Read Excel File, Write Excel File, Exceptions, Exceptions.

### To run this notebook we need only two files, they are example.txt, requirements.txt

# Exceptions:
exceptions are events that can disrupt the normal flow of a program when they occur. They are used to handle errors, unexpected conditions, and other exceptional situations. Understanding how to work with exceptions is crucial for writing robust and error-tolerant Python code. Here are some key points about Python exceptions:

    1) Exception Hierarchy:
    Python has a hierarchy of built-in exceptions, with the base class being BaseException. The most common exceptions include Exception, TypeError, ValueError, IndexError, KeyError, and ZeroDivisionError, among others. You can also define your own custom exceptions by creating classes that inherit from Exception or its subclasses.

    2) Try and Except:
    To catch and handle exceptions, you use a try block followed by one or more except blocks. The code in the try block is executed, and if an exception is raised, the code in the appropriate except block is executed.

In [14]:
try:
    result = 10 / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:
    print("Division by zero is not allowed.")

Division by zero is not allowed.

        3) Multiple Exceptions:
        You can catch multiple exceptions in the same try block by specifying multiple except blocks.

In [15]:
try:
    value = int("abc")  # This will raise a ValueError
except ValueError:
    print("Invalid conversion to integer.")
except ZeroDivisionError:
    print("Division by zero is not allowed.")

Invalid conversion to integer.

        4) Else and Finally Blocks:
        You can also include an else block after the try and except blocks. Code in the else block is executed if no exceptions were raised. The finally block, if included, is executed regardless of whether an exception occurred or not.

In [16]:
try:
    value = int("123")
except ValueError:
    print("Invalid conversion to integer.")
else:
    print("Conversion successful.")
finally:
    print("This always runs.")


print("Value is  :",value)

Conversion successful.
This always runs.
Value is  : 123

        5) Raising Exceptions:
        You can raise exceptions manually using the raise statement. This is often used when you want to handle a specific situation by raising a custom exception.

In [17]:
def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    
# validate_age(-3.5)

        6) Custom Exceptions:
        You can create custom exceptions by defining a new class that inherits from Exception or one of its subclasses. This is useful for handling specific errors in your code.

In [18]:
class CustomError(Exception):
    pass

# File I/O

File input/output (I/O) is a fundamental aspect of programming, allowing you to read data from and write data to files. In Python, you can perform file I/O using built-in functions and context managers. Here are the key concepts and operations for Python file I/O:

    Opening a File:
    To open a file, you use the open() function. You specify the file's name and the mode in which you want to open it. The modes include:
        'r': Read (default mode). Opens the file for reading.
        'w': Write. Opens the file for writing (creates a new file or truncates an existing one).
        'a': Append. Opens the file for writing (creates a new file or appends to an existing one).
        'b': Binary mode. Used in combination with other modes to work with binary files.
        'x': Exclusive creation. Opens the file for exclusive creation, raising an error if the file already exists.

In [19]:
# Opening a file for reading
with open("example.txt", "r") as file:
    content = file.read()

2) Reading from a File:
You can read the contents of a file using methods like read(), readline(), or readlines(). The read() method reads the entire file, readline() reads a single line, and readlines() reads all lines into a list.

In [20]:
with open("example.txt", "r") as file:
    content = file.read()  # Reads the entire file

print(content)

Python is a simple programming programming Language.

3. Writing to a File:
To write data to a file, open it in write mode ('w') or append mode ('a') and use methods like write() or writelines().

In [21]:
with open("output.txt", "w") as file:
    file.write("This is a line of text.\n")
    file.write("Another line of text.\n")

4) Context Managers (with Statement):
The with statement is used to ensure that the file is properly closed after it is used. It's considered best practice to use the with statement for file I/O because it automatically closes the file when you're done with it.

In [22]:
with open("example.txt", "r") as file:
    content = file.read()
print(content)

Python is a simple programming programming Language.

5) File Seek and Tell:
You can use the seek() method to change the file's current position (offset) and the tell() method to get the current position.

In [23]:
with open("example.txt", "r") as file:
    file.seek(10)  # Move the cursor to the 10th character
    position = file.tell()  # Get the current position

6. Working with Binary Files:
You can work with binary files by opening a file in binary mode ('rb' or 'wb') and reading/writing bytes.

In [24]:
# with open("binary_file.bin", "rb") as file:
#     data = file.read()

Iterating Over Lines:

You can iterate over the lines of a file using a for loop, which is memory-efficient for large files.

In [25]:
with open("example.txt", "r") as file:
    for line in file:
        print(line, end='')  # Print lines without extra newline characters

Python is a simple programming programming Language.

        8) File Closing:
It's essential to close a file when you're done with it. However, using the with statement automatically closes the file when the block is exited.

In [26]:
file = open("example.txt", "r")
content = file.read()
print(content)
file.close()  # Explicitly close the file

Python is a simple programming programming Language.

File I/O is a fundamental concept in programming, allowing you to work with data stored in files on your computer. It's essential for tasks like reading and writing text and binary files, processing data, and creating logs and reports in various Python applications.

#           write a simple program for reading a requirements.txt and diaplay it in the terminal, then write it in the another file called req.txt , then close both the files.

In [27]:
try:
    # Open the requirements.txt file for reading
    with open('requirements.txt', 'r') as input_file:
        # Read the content of the file
        requirements_content = input_file.read()

    # Display the content in the terminal
    print("Content of requirements.txt:")
    print(requirements_content)

    # Open a new file called req.txt for writing
    with open('req.txt', 'w') as output_file:
        # Write the content to the new file
        output_file.write(requirements_content)

    print("Content has been written to req.txt.")

except FileNotFoundError:
    print("File not found. Please make sure requirements.txt exists.")

# Both files are automatically closed when using the 'with' statement

Content of requirements.txt:
asttokens==2.4.0
backcall==0.2.0
colorama==0.4.6
comm==0.1.4
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
et-xmlfile==1.1.0
executing==2.0.0
fonttools==4.43.1
ipykernel==6.25.2
ipython==8.16.1
jedi==0.19.1
jupyter_client==8.4.0
jupyter_core==5.4.0
kiwisolver==1.4.5
matplotlib==3.8.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
numpy==1.26.1
openpyxl==3.1.2
packaging==23.2
pandas==2.1.1
parso==0.8.3
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
prompt-toolkit==3.0.39
psutil==5.9.6
pure-eval==0.2.2
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
pyzmq==25.1.1
seaborn==0.13.0
six==1.16.0
stack-data==0.6.3
tornado==6.3.3
traitlets==5.11.2
tzdata==2023.3
wcwidth==0.2.8
xlrd==2.0.1

Content has been written to req.txt.

# Reading and Writing Excel Files.

In [28]:
# pip install pandas

In [29]:
import pandas as pd
data = pd.read_excel('Python.xlsx')
display(data)

    Sl No                 Topics
0       1              Variables
1       2             Data Types
2       3               Keywords
3       4               Literals
4       5              Operators
5       6               Comments
6       7                If Else
7       8                  Loops
8       9               For Loop
9      10             While Loop
10     11                  Break
11     12               Continue
12     13                   Pass
13     14                Strings
14     15                  Lists
15     16                 Tuples
16     17          List Vs Tuple
17     18                   Sets
18     19             Dictionary
19     20              Functions
20     21     Built-in Functions
21     22       Lambda Functions
22     23              Files I/O
23     24                Modules
24     25             Exceptions
25     26                   Date
26     27                  Regex
27     28          Read CSV File
28     29         Write CSV File
29     30        Read Excel File
30     31       Write Excel File
31     32                 Assert
32     33     List Comprehension
33     34      Collection Module
34     35            Math Module
35     36              OS Module
36     37          Random Module
37     38      Statictics Module
38     39                 Python
39     40                   JSON
40     41              Itertools
41     42        Multiprocessing
42     43                   OOPs
43     44          OOPs Concepts
44     45           Object Class
45     46           Constructors
46     47            Inheritance
47     48  Abstraction in Python

If you want to load only a limited number of rows into the DataFrame, you can specify the number of rows using the nrows argument:

In [30]:
data = pd.read_excel('Python.xlsx', nrows=5)
display(data)

   Sl No      Topics
0      1   Variables
1      2  Data Types
2      3    Keywords
3      4    Literals
4      5   Operators

Skipping a specific number of rows from the begining of a spreadsheet or skipping over a list of particular rows is available through the skiprows argument, as follows:

In [31]:
data = pd.read_excel('Python.xlsx', skiprows=range(5))
display(data.head(1))

   5 Operators
0  6  Comments

The code above skips the first five rows and returns the rest of the data. Instead, the following code returns all the rows except for those with the mentioned indices:

In [32]:
data = pd.read_excel('Python.xlsx', skiprows=[1, 4,7,10])
display(data.head(1))

   Sl No      Topics
0      2  Data Types

Another useful argument is usecols, which allows us to select spreadsheet columns with their letters, names, or positional numbers. Let's see how it works:

In [33]:
# data = pd.read_excel('Python.xlsx', usecols='A:C,G')
data = pd.read_excel('Python.xlsx', usecols='A,B')
display(data.head(1))

   Sl No     Topics
0      1  Variables

the string assigned to the usecols argument contains a range of columns with : plus column G separated by a comma. Also, we're able to provide a list of column names and assign it to the usecols argument, as follows:

In [34]:
# df = pd.read_excel('Python.xlsx', usecols=['Topics', 'Region', 'Rep', 'Total'])

data = pd.read_excel('Python.xlsx', usecols=['Topics'])

display(data.head(1))

      Topics
0  Variables

The usecols argument accepts a list of column numbers, too. The following code shows how we can pick up specific columns using their indices:

In [35]:
# data = pd.read_excel('Python.xlsx', usecols=[0, 1, 2, 6])

data = pd.read_excel('Python.xlsx', usecols=[0, 1])
display(data.tail(2))

    Sl No                 Topics
46     47            Inheritance
47     48  Abstraction in Python

Working with Multiple Spreadsheets

Excel files or workbooks usually contain more than one spreadsheet. The pandas library allows us to load data from a specific sheet or combine multiple spreadsheets into a single DataFrame. In this section, we'll explore how to use these valuable capabilities.

By default, the read_excel() method reads the first Excel sheet with the index 0. However, we can choose the other sheets by assigning a particular sheet name, sheet index, or even a list of sheet names or indices to the sheet_name argument. Let's try it:

In [36]:
data = pd.read_excel('Python.xlsx', sheet_name='Sheet2')# calling the second sheet
display(data.head(5))

,Days,Topics,Topics.1,Extras
0,Day_1,Variables,"Variables, Data Types, Keywords, Literals, Com...","input(), dir(), id(), type(), print(), help(),..."
1,NaN,Data Types,NaN,NaN
2,NaN,Keywords,NaN,NaN
3,NaN,Literals,NaN,NaN
4,Day_2,Operators,Operators- ( Arithmetic operators\n Assignm...,NaN

The code above reads the second spreadsheet in the workbook, whose name is 2021. As mentioned before, we also can assign a sheet position number (zero-indexed) to the sheet_name argument. Let's see how it works:

In [37]:
data = pd.read_excel('Python.xlsx', sheet_name=1)
display(data.head(2))

,Days,Topics,Topics.1,Extras
0,Day_1,Variables,"Variables, Data Types, Keywords, Literals, Com...","input(), dir(), id(), type(), print(), help(),..."
1,NaN,Data Types,NaN,NaN

Sometimes, we want to import all the spreadsheets stored in an Excel file into pandas DataFrames simultaneously. The good news is that the read_excel() method provides this feature for us. In order to do this, we can assign a list of sheet names or their indices to the sheet_name argument. But there is a much easier way to do the same: to assign None to the sheet_name argument.

In [46]:
data = pd.read_excel("Python.xlsx", sheet_name=None)
# data

In [44]:
# type(data)

In [45]:
# for key, value in data.items():
#     print(key, value)

In [41]:
# pip install XlsxWriter

In [58]:
excel_writer = pd.ExcelWriter("Finished.xlsx", engine="xlsxwriter")
data["Sheet2"].to_excel(excel_writer, sheet_name="Sheet2", index=True)
excel_writer.close()

### Reading and writing in a CSV file.

In [59]:
data1 = pd.read_csv("csv_file/50_Startups.csv")
data1.head(1)

data1.to_csv("csv_file/out.csv")

# Math, Os, RAndom, Statistics, Collection.

In [2]:
import math 
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [3]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [4]:
help(math.lcm)

Help on built-in function lcm in module math:

lcm(*integers)
    Least Common Multiple.

In [5]:
math.lcm(45, 50, 60,70)

6300

In [6]:
help(math.gcd)

Help on built-in function gcd in module math:

gcd(*integers)
    Greatest Common Divisor.